body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 0;
}

.container {

  max-width: 700px;
}

.bottom-right { 
  bottom: -110px; 
  right: 0; 
}

.add-task-btn{
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
  background:lightgreen;
}

.btn-primary{
  background:lightgreen;
  border-color: lightgreen;
}

.icon-plus{
  height:3rem;
}

.schedule{
  margin-top: 50px;
}

.time-bar{
  border-bottom: 1px solid red;
  top: 50px;
  width: 100%;
  z-index: 999;
}

.time { 
  top: -15px; 
  right: 5px; 
  color: red;
}

.row {
  border-top: 1px solid lightgray;
  height: 80px;
  overflow: visible;
}

.hour {
  padding-top: 0.25rem;
  background-color: #ffffff;
  color: #000000;
}

.body-col {
  padding-top: 0.25rem;
  background-color: #ffffff;
  color: #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.modal-dialog{
  top: 200px
}

.event-name{
  border-width: 0px;
  font-size: 1.75rem;
  border-bottom: 1px, black;
}

.time-input{
  width: 150px;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
